/* Style the editor-container */
#editor-container {
    border: 0.5em solid black;
    height: 100vh;
}

/* Style the preview-container */
#preview-container {
     border: 0.5em dashed black; 
     height: 100vh;
     
}

#editor {
    overflow: scroll;
    width: 100%;
    height: 80vh;
}

#preview {
    overflow: scroll;
    height: 80vh;
    border: 0.1em solid black;
}